<!DOCTYPE html>
<html>
<head>
    <title>Generador de QR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>
</head>
<body>
    <form method="POST">
        <input type="text" name="url" placeholder="Ingrese la URL">
        <input type="text" name="name" placeholder="Ingrese el nombre">
        <button type="submit">Generar QR</button>
    </form>
    <div id="qr-code"></div>
    <script src="{{ url_for('static', filename='qrcode.js') }}"></script>
</body>
</html>